nav {
    margin: 20px auto 60px;
    ul {
        text-align: center;
        li {
            display: inline;
            font: 600 18px/24px "Lato";
            svg {
                fill: rgba(255,232,31, .6);
            }
            a {
                padding: 0 15px;
                color: #fff;
                text-decoration: none;
                display: inline-block;
                position: relative;
                &:hover {
                    color: #FFE81F;
                    transition: all .5s;
                    &::after {
                        opacity: 1;
                        transform: scale(1);
                    }
                }
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    display: inline-block;
                    height: 1em;
                    width: 100%;
                    border-bottom: 1px solid;
                    margin-top: 10px;
                    opacity: 0;
                    transform: scale(0.1);
                    transition: opacity 0.35s, transform 0.35s;
                }
            }
        }
    }
}